* {
  margin: 0;
  padding: 0;
}

.overview {
  width: 100%;
  display: block;
  background-image: url(../images/background.svg);
  background-color: black;
  margin: 0 auto;
  background-size: cover;
  padding-bottom: 50px;
  nav {
    padding-top: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      margin-right: 30px;
    }
    ul {
      display: flex;
      column-gap: 50px;

      li {
        a {
          color: rgba(255, 255, 255, 1);
          font-size: 18px;
          font-weight: 400;
          line-height: 24.16px;
        }
      }
    }
  }
  .overview-box {
    width: 100%;
    .left {
      width: 50%;
      .heart {
        padding-top: 83px;
        margin-left: 7px;
      }
      .trust {
        width: 139px;
        height: 28px;
        border-radius: 100px;
        background-color: rgba(246, 95, 95, 0.1);
        display: flex;
        align-items: center;
        justify-content: space-around;
        .red-circle {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: rgba(246, 95, 95, 1);
        }
        h2 {
          width: 103px;
          height: 17px;
          color: rgba(255, 255, 255, 1);
          font-family: Inter;
          font-size: 14px;
          font-weight: 400;
          line-height: 16.94px;
          font-family: Sofia Pro, serif;
        }
      }
      h1 {
        width: 530px;
        height: 138.57px;
        font-size: 58px;
        font-weight: 900;
        line-height: 78.3px;
        text-align: left;
        color: rgba(255, 255, 255, 1);

        .yellow {
          color: #f8c15d;
        }
      }
      .red-line {
        margin-top: 38px;
        margin-left: 208px;
      }
      p {
        width: 517px;
        height: 96px;
        opacity: 0.8;
        font-size: 24px;
        font-weight: 400;
        line-height: 32.21px;
        letter-spacing: -0.01em;
        text-align: left;
        color: rgba(255, 255, 255, 1);
        margin-top: 29px;
      }
      .input-box {
        position: relative;
        width: 471px;
        display: flex;
        align-items: center;
        margin-top: 27px;

        input {
          width: 471px;
          height: 54px;
          border-radius: 100px;
          border: 0.5px solid rgba(255, 255, 255, 1);
          background-color: rgba(13, 13, 13, 1);
        }
        .search {
          width: 24px;
          height: 24px;
          position: absolute;
          left: 17px;

          background-image: url(../images/search.svg);
        }
        input::placeholder {
          width: 99px;
          height: 24px;
          opacity: 0.5px;
          font-family: Sofia Pro;
          font-size: 18px;
          font-weight: 400;
          line-height: 24.16px;
          letter-spacing: -0.01em;
          text-align: left;
          padding-left: 50px;
        }
        button {
          width: 42px;
          height: 42px;
          border-radius: 100%;
          position: absolute;
          left: 420px;
          background-color: rgba(253, 206, 119, 1);
        }
      }
      .option {
        margin-top: 34px;
        display: flex;
        align-items: center;
        .play {
          width: 52px;
          height: 52px;
          border-radius: 100%;
          background-color: rgba(13, 13, 13, 1);
          box-shadow: 0px 15px 30px 0px rgba(223, 105, 81, 0.3);
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 50px;
        }
        h2 {
          width: 110px;
          height: 26px;
          font-size: 17px;
          font-weight: 400;
          line-height: 25.5px;
          text-align: left;
          color: rgba(255, 255, 255, 1);
          margin-left: 21px;
        }
      }
      .slider {
        margin-top: 100px;
      }
    }
  }
}
.special-offer {
  width: 100%;
  background-color: black;
  padding-top: 100px;
  .special-offer-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      width: 461px;
      height: 67px;
      font-family: Sofia Pro;
      font-size: 48px;
      font-weight: 700;
      line-height: 67.2px;
      text-align: left;
      color: rgba(255, 255, 255, 1);
    }
    p {
      width: 856px;
      height: 48px;
      font-family: Sofia Pro;
      font-size: 18px;
      font-weight: 400;
      line-height: 24.16px;
      text-align: center;
      color: rgba(255, 255, 255, 0.8);
      margin-top: 22px;
    }
    .light {
      align-self: flex-start;
      margin-left: -130px;
      margin-top: -50px;
    }
    .offers {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: -60px;

      .offers-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 24%;
        .food {
          margin-bottom: -140px;
          z-index: 2;
        }
        .offers-item-box {
          z-index: 1;
          width: 310px;
          height: 368px;
          border-radius: 20px;
          background: linear-gradient(
            179.69deg,
            rgba(255, 255, 255, 0.3) -31.53%,
            rgb(245, 71, 72, 0.3) 303.75%
          );
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          .rate-box {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 131px;
            .rater {
              margin-right: 10px;
            }
            .star {
              margin-right: 6px;
            }
            h3 {
              width: 38px;
              height: 24px;
              font-size: 18px;
              font-weight: 400;
              line-height: 24.39px;
              text-align: center;
              color: rgba(255, 255, 255, 1);
            }
          }
          h2 {
            width: 200px;
            height: 33px;
            
            font-size: 24px;
            font-weight: 500;
            line-height: 33.22px;
            text-align: center;
            margin-bottom: -30px;
            color: rgba(246, 95, 95, 1);
          }
          p {
            width: 243px;
            height: 63px;
            font-family: Sofia Pro;
            font-size: 16px;
            font-weight: 400;
            line-height: 21.47px;
            text-align: center;
            color: rgba(255, 255, 255, 0.7);
            
          }
          .order {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 131px;
            height: 45px;
            border-radius: 100px;
            background-color: rgba(246, 95, 95, 1);
            font-family: Sofia Pro;
            font-size: 18px;
            font-weight: 400;
            line-height: 24.16px;
            text-align: left;
            color: rgba(13, 13, 13, 1);
            margin-bottom: -15px;
          }
        }
      }
    }
    .rosemary{
      margin-right: -1400px;
    }
  }
}
